node_modules/
test-results/
playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.local-browsers/
/playwright/.local-chromium/
/playwright/.local-firefox/
/playwright/.local-webkit/
/playwright/.local-msedge/
